.tagName {
    padding: 3.2px 8px 4.8px;
    font-size: 14.4px;
    border: 1px solid;
    border-radius: 0.4rem;
}

.tagName:hover {
    border: 1px solid #dadde1;
    background-color: #5d8883;
    color: white;
    transition-duration: 2000;
    transition-delay: 1000;
    cursor: pointer;
    text-decoration: none;
}

.tagList {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.tagListTitle {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
}